.App {
  text-align: center;
  height: max-content;
  background-color: #f1f0ed;
  /*background-image: url(src/img/BG_PaperTexture_2.jpg)*/
}

* {
  margin: 0px;
  padding: 0px;
}

#bar_chart_input {
  position: absolute;
  top: 50px;
  left: 50px;
}

.Header {
  margin-bottom: 20px;
}

div h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

div p {
  font-size: 20px;
  text-align: center;
}

#writeup_section{
  margin: auto;
  width: 75%;
  align-content: center;
}
